@{
    ViewData["Title"] = @localizer.GetValue("ForgotPasswordConfirmation");
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/img/logo-icon.png">
    <title>@localizer.GetValue("ForgotPasswordConfirmation") - @localizer.GetValue("Movbok")</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/osahan.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5 text-center">
                                    <div class="mb-4">
                                        <i class="fas fa-check-circle text-success" style="font-size: 72px;"></i>
                                    </div>
                                    <h1 class="h4 text-gray-900 mb-4">@localizer.GetValue("CheckYourEmail")</h1>
                                    <p class="mb-4">@localizer.GetValue("ForgotPasswordConfirmationMessage")</p>
                                    <hr>
                                    <div class="text-center">
                                        <a class="btn btn-primary btn-user" asp-action="Login" asp-controller="Account">
                                            @localizer.GetValue("BackToLogin")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>