@model ForgotPasswordViewModel

@{
    ViewData["Title"] = @localizer.GetValue("ForgotPassword");
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="~/img/logo-icon.png">
    <title>@localizer.GetValue("ForgotPassword") - @localizer.GetValue("Movbok")</title>
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/osahan.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">@localizer.GetValue("ForgotYourPassword")</h1>
                                        <p class="mb-4">@localizer.GetValue("ForgotPasswordDescription")</p>
                                    </div>

                                    <!-- Validation Summary -->
                                    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

                                    <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="user">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <input type="email"
                                                   asp-for="Email"
                                                   class="form-control form-control-user"
                                                   placeholder="@localizer.GetValue("EnterEmailAddress")"
                                                   aria-describedby="emailHelp">
                                            <span asp-validation-for="Email" class="text-danger small"></span>
                                        </div>

                                        <!-- Submit Button -->
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            @localizer.GetValue("ResetPassword")
                                        </button>
                                    </form>

                                    <hr>

                                    <div class="text-center">
                                        <a class="small" asp-action="Register" asp-controller="Account">
                                            @localizer.GetValue("CreateAnAccount")
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-action="Login" asp-controller="Account">
                                            @localizer.GetValue("AlreadyHaveAccount")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*     <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/js/osahan.js"></script> *@
</body>
</html>